<div class="container">
 <div class="row my-5">
  <div class="col-sm-3">
    <%= render 'customers/genres/index', genres: @genres %>
  </div>

  <div class="col-sm-9">
    <h2>商品一覧(全<%= Item.count %>件)</h2>
      <%= render 'customers/items/index', items: @items %>
   </div>
  </div>
</div>