<footer class="text-white pt-5 pb-4" style="background-color:#FF6699;">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>VEGIPARA</p>
      </div>
    </div>
  </div>
</footer>